body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: rgba(9, 9, 9, 1);
  font-weight: 400;
}

 header 

  .page-header {
    margin: 0;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }

  h1 {
    font-size: 24px;
    line-height: 32px; 
  }

  .logo {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

 main 

  .main-content {
    margin: 0;
    padding: 0 20px;
    font-weight: 600;
  }

  .hero {
    margin: 0 0 60px 10px;
    padding: 0;
  }

  .reg-window {
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 
  }

  .ent_and_reg {
    margin: 60px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .ind_and_reg {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  .ind_and_reg a {
    text-decoration: none;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(77, 129, 183, 1);
    background-color: rgba(77, 129, 183, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 12px;
    color: rgba(255, 255, 255, 1);
  }

  .reg-window a {
    text-decoration: none;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 12px;
    color: rgba(77, 129, 183, 1);
  }

  .entrance {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .entrance_form {
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    row-gap: 40px;
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 
  }

  .entrance_form input {
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    width: 215px;
    color: rgba(77, 129, 183, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .entrance_button {
    height: 24px;
  }

 list 

 Уберем отступы и поля у списков 
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

 Стили элементов списков 
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  border: 0.5px solid rgba(213, 223, 233, 1);
  border-radius: 20px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 1);
  

   делаем элементы списка невыбираемыми 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 Делаем фоновый цвет темнее при наведении курсора 
ul li:hover {
  background: rgba(213, 223, 233, 1);
}

 При нажатии добавляем фоновый цвет и перечеркиваем текст 
ul li.checked {
  color: rgba(77, 129, 183, 1);
  text-decoration: line-through;
}

 При нажатии добавляем метку "отмечено" 
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgba(77, 129, 183, 1);;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

 Стиль кнопки закрытия 
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius: 20px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

 Стиль заголовка 
.list_header {
  padding: 30px 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

 Сбросим обтекание после заголовка 
.list_header:after {
  content: "";
  display: table;
  clear: both;
} 

 Стили поля ввода 
#list_input {
  margin: 0;
  border: 0.5px solid rgba(213, 223, 233, 1);
  border-radius: 4px;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
  font-size: 18px;
}

 Стили кнопки "Добавить" 
.addBtn {
  padding: 10px;
  width: 250px;
  background: rgba(255, 255, 255, 1);
  color: rgba(9, 9, 9, 1);
  float: left;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.addBtn:hover {
  background-color: rgba(213, 223, 233, 1);
}

.sBtn {
  border: none;
  background: none;
}

.sBtn:hover {
  border: 0.5px solid rgba(213, 223, 233, 1);
  border-radius: 4px;
}
  
@media screen and (max-width: 729px){

  .entrance_form {
    width: 300px;
    margin: 100px auto;
    padding: 80px 25px;
    border-radius: 20px;
  }

  .reg-window {
    border-radius: 20px;
    background-color: rgba(77, 129, 183, 1);
    margin: 0;
    padding: 20px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
  }

   Стили кнопки "Добавить" 
  .addBtn {
    background: rgba(213, 223, 233, 1);
}

  .sBtn:hover {
    border: 0.5px solid rgba(213, 223, 233, 1);
    border-radius: 4px;
}

  .list_header {
  color: rgba(9, 9, 9, 1);
}
 
  body {
    background-color: rgba(255, 255, 255, 1);
  }

  .hide-on-mobile {
    display: none;
  }
}
 

@media screen and (min-width: 730px){
  .hide-on-desktop {
    display: none;
  }

   header 

  .page-header {
    margin: 0;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(77, 129, 183, 1);
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-bottom: 15px;
  }

  h1 {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 32px;
    line-height: 40px; 
  }

   main 

  .main-content-r {
    margin: 0;
    padding: 45px 60px;
    font-weight: 600;
    background-color: rgba(77, 129, 183, 1);
  }

  .page_tittle {
    margin: 0;
    text-align: center;
    margin-bottom: 150px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; 
    color: rgba(255, 255, 255, 1);
  }

  .hero {
    margin: 0;
    padding: 0;
  }

  .entrance_form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    row-gap: 40px;
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center; 
    justify-content: center; 
  }

  .entrance_form input {
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    width: 70%;
    color: rgba(77, 129, 183, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .entrance_button {
    height: 24px;
  }

  input.ent_reg_but {
    width: 30%;
  }

  .main-content {
    background-color: rgba(77, 129, 183, 1);
  }

  .main-content h1 {
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 160px;
  }

  .reg-window {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(77, 129, 183, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 
  }

  body {
    background-color: rgba(77, 129, 183, 1);
  }
}